.hidden {
  display: none;
}

ul {
  list-style-type: none;
  cursor: pointer;
}

/* .active {
    color: hotpink
} */

.userDropdown {
  position: relative;
}

.searchBar {
  position: left;
  float: right;
  margin: left;
}
.NavBar {
  background-color: #355764;
}

.btn-outline-success {
  color: #3dc1b2 !important;
  border-color: #3dc1b2 !important ;
}

.Home {
  color: #3dc1b2 !important;
}

.Cart {
  color: #3dc1b2 !important;
}

#user-dropdown {
  color: #3dc1b2 !important;
}

.dropdown-menu-dark .dropdown-item {
  color: #355764 !important;
}

.dropdown-menu-dark {
  background-color: #d6efed !important;
}
.dropdown-item {
  color: #3dc1b2 !important;
}
.navbar-brand {
  color: #3dc1b2;
  font-family: "Montserrat";
}
